<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MaidSafe - The New Decentralized Internet</title>
  <meta http-equiv="Cache-Control" content="public, max-age=3600">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<meta name="description" content="{{ page.description }}">-->
  <!--<meta name="keywords" content="{{ page.keywords }}">-->
  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
  <link rel="shortcut icon" href="./assets/img/favicon.ico" />
  <link rel="icon" property='stylesheet' type="image/ico" href="../img/favicon.ico" />
<link href="./styles/style.css" rel="stylesheet"></head>
<body>
  <div id="root"></div>
  <script>
    if (window.location.protocol === 'http:') {
      window.location.href = window.location.href.replace('http:', 'https:');
    }
  </script>
<script type="text/javascript" src="bundle-9a5c2190bed090a6e397.js" async></script></body>
</html>
